.filter-wrap {
	max-width: fit-content;
	background-color: #e8dac1;
	border-radius: 10rem;
	margin: 0 auto;
    border: .5em solid #E8DAC1;
	ul {
		display: flex;
		li {
			font-style: normal;
			font-weight: 600;
			font-size: 19px;
			line-height: 27px;
			text-align: center;
			color: #827a6d;
			padding: 1em 1.875em;
			font-style: normal;
			font-weight: 600;
			font-size: 1.1875em;
			line-height: 1.4;
			cursor: pointer;
		}
        li:hover{
            background-color: #EEE0C6;
            border-radius: 100rem;
            color: #1C1A19;
        }
	}
}
