.content-wrap {
	max-width: 70ch;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 3.25em;
	z-index: 3;
	position: relative;
	color: #524c47;
	margin-bottom: 90px;
	.title {
		font-style: normal;
		font-weight: 600;
		font-size: 28px;
		line-height: 150%;
		color: #1c1a19;
		margin-bottom: 0.5em;
	}
	cite {
		font-weight: 600;
		font-size: 14px;
		line-height: 150%;
		margin-bottom: 1rem;
		display: block;
		display: flex;
		align-items: center;
		a {
			margin-right: 0.3rem;
		}
		a:hover {
			text-decoration: underline;
		}
	}
	p {
		font-weight: 600;
		font-size: 18px;
		line-height: 150%;
		margin-bottom: 1em;
	}
	p:last-child {
		margin-bottom: 0;
	}
	blockquote {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
		color: #524c47;
		padding: 0.25em 1em;
		border-left: 8px solid #beb39e;
		line-height: 1.6;
		position: relative;

		span {
			display: block;
			font-weight: bold;
			margin-top: 1em;
		}
	}
	ul {
		li {
			padding: 20px 40px;
			border: 2px solid #dccfb7;
			margin-bottom: 0.75em;
			background-color: #f4e6cb;
			cursor: pointer;
			.title {
				margin-bottom: 0;
				display: flex;
				justify-content: space-between;
				align-items: center;
				p {
					margin-bottom: 0;
					font-style: normal;
					font-weight: 600;
					font-size: 24px;
					line-height: 150%;
					color: #524c47;
				}
				svg {
					border-radius: 100%;
				}
			}
			.details {
				margin-top: 1.5em;
			}
		}
	}
	.reference-container {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		gap: 12px;
		.ref-wrap {
			border-radius: 0.5em;
			overflow: hidden;
			aspect-ratio: 0.8;
			background-color: #f09701;
			background-size: cover;
			position: relative;
			.content {
				.mask {
					position: absolute;
					left: 0px;
					top: 0px;
					width: 100%;
					height: 100%;
					background: linear-gradient(
						180deg,
						rgba(0, 0, 0, 0) 30%,
						rgba(0, 0, 0, 0.9) 100%
					);
				}
				svg {
					background-color: transparent;
				}
				.ref-group {
					position: absolute;
					// background-color: red;
					width: 100%;
					height: 35%;
					bottom: 1.25rem;
					padding: 0 2rem;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					.ref-logo {
						background-color: transparent;
						max-height: 50%;
						object-fit: contain;
					}
					.ref-type {
						display: flex;
						justify-content: center;
						gap: 0.5rem;
						p {
							font-weight: 600;
							font-size: 14px;
							line-height: 150%;
							color: #fdfdfd;
						}
						img {
							background-color: transparent;
							// width: 17px;
							// height: 17px;
						}
					}
				}
			}
		}
	}
}

.code-in-name {
	margin-bottom: 30px;
}
