.nav {
	position: fixed;
	padding: 2rem;
	z-index: 4;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	background-image: radial-gradient(rgba(0, 0, 0, 0) 1px, #f4e6cb 1px);
	background-size: 4px 4px;
	backdrop-filter: blur(10px);
}
